/*styling for the entire body*/
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 1px;
    background-color: #f4f4f4;
}
/*header styling*/
header{
    background-color:#007bff  ;
    color: white
    padding: 20px;
    text-align: center;
}
/*navigation bar styling*/
nav{
    background-color: aqua;
    padding: 10px;
    text-align: center;
}
/*container setup for flex layout*/
.container{
    display: flex;
    max-width: 1200px;
    margin:20px auto;
    padding: 20px;
    gap: 20px;
    background-color: #ffffff
}
/*main content area styling*/
main{
    flex: 3;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    }
    article{
        background-color:#28a745;
padding: 10px;
margin-bottom: 20px;
border-left: 5px solid #007bff;
    }
    /*button styling*/
    button{
        background-color: #28a745;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }
button:hover{
    background-color: #218838;
}
/*sidebar styling*/
aside{
    flex: 1;
    background-color: #e2e2e2;
    padding: 20px;
    border-radius: 5px;
    height: fit-content;
}
/*footer styling*/
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}